<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="index.css"/>
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css"/>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="angular.min.js"></script>
    <script src="service/serviceFile.js"></script>
    <script src="factory/myFactory.js"></script>
    <script src="Controller/main.js">
    </script>

</head>

<body ng-app="myTableApp">
<div class="myDiv">
    <h2>
        ADD AND VIEW APP
    </h2>
        <div class="div2">
            <button ng-click="myForm=true" class="buttons">ADD</button>
            <button class="buttons" ng-click="myTable=true">VIEW</button>
        </div>
    <div ng-controller="myCtrl" ng-show="myForm">
        <form>
            <label>Name</label>
            <input type="text" name="name" ng-model="newcontact.name">
            <label>Email</label>
            <input type="text" name="email" ng-model="newcontact.email">
            <label>Phone</label>
            <input type="text" name="phone" ng-model="newcontact.phone">
            <input type="hidden" ng-model="newcontact.id">
            <input type="button" value="Save" ng-click="saveTask()" class="buttons">
        </form>
        <table class="myTable" ng-show="myTable">
            <thead>
            <tr>
                <th>S.no</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="contact in contacts">
                <td>{{$index+1}}</td>
                <td>{{contact.name}}</td>
                <td>{{contact.email}}</td>
                <td>{{contact.phone}}</td>
                <td>
                    <button ng-click="edit(contact.id)" class="buttons">Edit</button>
                    <button ng-click="delete(contact.id)" class="buttons">Delete</button>

                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
</body>

</html>